 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 813px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 61px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 504px;
  margin-top: 75px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 2px 0 0;
}

.u-section-1 .u-table-1 {
  height: 193px;
  margin: 0 auto;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 25px 218px 0 auto;
  padding: 10px 40px 11px 39px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 394px 0 auto;
  padding: 9px 24px 11px 23px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -44px 43px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -45px auto 0 314px;
  padding: 9px 24px 11px 23px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

.u-section-1 .u-table-2 {
  height: 193px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-table-header-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-table-cell-38 {
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
}

.u-section-1 .u-table-cell-40 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 27px 43px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 218px 0 auto;
  padding: 10px 40px 11px 39px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 394px 0 auto;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 0;
}

.u-section-1 .u-text-4 {
  margin: 25px auto 0 0;
}

.u-section-1 .u-table-3 {
  height: 193px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-header-3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  background-image: none;
}

.u-section-1 .u-table-cell-52 {
  background-image: none;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 46px 218px 0 auto;
  padding: 10px 40px 11px 39px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 394px 0 auto;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 43px 0 auto;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-table-4 {
  height: 193px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-table-header-4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  background-image: none;
}

.u-section-1 .u-table-cell-57 {
  background-image: none;
}

.u-section-1 .u-table-cell-58 {
  background-image: none;
}

.u-section-1 .u-table-cell-59 {
  background-image: none;
}

.u-section-1 .u-table-cell-60 {
  background-image: none;
}

.u-section-1 .u-table-cell-66 {
  background-image: none;
}

.u-section-1 .u-table-cell-67 {
  background-image: none;
}

.u-section-1 .u-table-cell-68 {
  background-image: none;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: 25px 394px 0 auto;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -45px 218px 0 auto;
  padding: 10px 40px 11px 39px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  margin: -46px 43px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 194px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 114px;
  }

  .u-section-1 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -61px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -23px;
    margin-right: 194px;
  }

  .u-section-1 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 26px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -47px;
    margin-right: 194px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -45px;
    margin-right: 0;
  }

  .u-section-1 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 29px;
    margin-right: 194px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -47px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -45px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }
}
